*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
*/build/
**/build/
captures/
.externalNativeBuild
.cxx
*.apk
*.aab
screenshots/
*.png
*.jpg
*.jpeg
screen*.png
screen.png
node_modules/
dashboard/node_modules/
dashboard/dist/
.tempmediaStorage/
