*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
captures/
.externalNativeBuild
.cxx
*.apk
*.aab
screen*.png
screen.png
node_modules/
dashboard/node_modules/
dashboard/dist/
.tempmediaStorage/
